@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?3vfovg');
  src:  url('icomoon.eot?3vfovg#iefix') format('embedded-opentype'),
    url('icomoon.ttf?3vfovg') format('truetype'),
    url('icomoon.woff?3vfovg') format('woff'),
    url('icomoon.svg?3vfovg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-volumen:before {
  content: "\e900";
}
.icon-logo_punk:before {
  content: "\e901";
  color: #fff;
}
.icon-flecha_left:before {
  content: "\e905";
  color: #047e93;
}
.icon-flecha_right:before {
  content: "\e906";
  color: #047e93;
}
